/* container */
.banner__container {
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), #efefef),
    url('../assets/skateboard.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* text */
.banner__container h1 {
  font-family: 'Marck Script', cursive;
  font-size: 5rem;
  color: #444;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
    1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
    3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc,
    5px 6px 1px #eee, 7px 6px 1px #ccc;
}

/* media queries */
@media screen and (max-width: 767px) {
  /* text */
  .banner__container h1 {
    font-size: 4rem;
  }
}
