/* container */
.cart__container {
  display: flex;
  flex-direction: column;
  margin: 4rem 5rem;
}

/* heading */
.cart__heading h2 {
  font-weight: 400;
  margin-bottom: 2rem;
}

/* content */
.cart__content {
  display: flex;
  width: 100%;
}

/* content left */
.cart__left {
  width: 60%;
  margin-right: 3rem;
}
.left__card {
  display: flex;
  border-bottom: 1px solid var(--border);
}
.left__right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.left__qty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qty__div {
  display: flex;
  align-items: center;
}
.upArrow,
.downArrow {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.upArrow:active {
  color: var(--blue);
}
.downArrow:active {
  color: var(--red);
}
.left__total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.remove {
  font-size: 0.9rem;
  color: var(--red);
  cursor: pointer;
  margin-bottom: 1rem;
}

/* content right */
.cart__right {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-family: 'Roboto Condensed', sans-serif;
}
.cart__right p {
  opacity: 0.5;
}
.right__input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
}
.right__input input {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0 0.5rem;
  outline: none;
  border: 1px solid var(--border);
}
.right__input input::placeholder {
  opacity: 0.5;
}
.right__input button,
.checkout button {
  width: 80%;
  height: 2.5rem;
  outline: none;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}
.cart__right table {
  width: 100%;
}
.cart__right tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  width: 100%;
}
.checkout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.checkout button {
  background: var(--blue);
}

/* media queries */
@media screen and (max-width: 767px) {
  /* container */
  .cart__container {
    margin: 4rem 1rem;
  }

  /* content left and right */
  .cart__content {
    flex-direction: column;
  }

  /* left */
  .cart__left {
    width: 100%;
  }

  /* right */
  .cart__right {
    margin-top: 3rem;
    width: 100%;
  }
}
