/* container */
.slug__container {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
}

/* heading */
.slug__heading p {
  font-family: 'Roboto Condensed', sans-serif;
}

/* image */
.slug__image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slug__smallImage {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slug__smallImage img {
  width: 7rem;
  margin: 1rem 0;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.selected {
  transform: scale(1.1);
  border: 1px solid var(--red);
}

/* buttons */
.slug__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: 0 0 3rem 0;
}
.slug__button button {
  width: 50%;
  height: 2.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  outline: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.slug__button button:active {
  transform: scale(0.97);
}
.slug__arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

/* details */
.slug__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.slug__table {
  width: 50%;
}
.slug__table table {
  width: 100%;
}
.slug__table tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--border);
}
.slug__table td {
  font-family: 'Roboto Condensed', sans-serif;
}
.slug__description {
  margin: 3rem 0;
  width: 100%;
  line-height: 1.2;
  letter-spacing: 0.5px;
  text-align: justify;
  opacity: 0.8;
}
.slug__description::first-letter {
  margin-left: 2rem;
}

/* media queries */
@media screen and (max-width: 1024px) {
  /* container */
  .slug__container {
    padding: 2rem 1rem;
  }

  /* image */
  .slug__image {
    flex-direction: column;
    width: 100%;
  }
  .slug__bigImage img {
    width: 90vw;
  }
  .slug__smallImage {
    flex-direction: row;
    width: 100%;
  }
  .slug__smallImage img {
    width: 4.5rem;
  }

  /* button */
  .slug__button button {
    width: 80%;
  }

  /* table details */
  .slug__table {
    width: 100%;
  }
}

@media screen and (max-width: 280px) {
  /* image */
  .slug__smallImage img {
    width: 4rem;
  }
}
